{% extends "main.html" %}
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    .md-typeset h1 {
      font-size: xx-large;
      font-weight: bolder;
      margin: unset;
    }

    /* Application header should be static for the landing page */
    .md-header {
      position: initial;
      display: none;
    }

    .md-tabs {
      display: none;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }

    .mdx-hero {
      margin-inline: auto;
    }

    .mdx-hero__image {
      margin-inline: auto;
    }

    .mdx-hero__buttons {
      margin-bottom: 20px;

    }

    .md-button {
      margin-left: 5px;
      margin-right: 5px;
    }

    .mdx-container {
      max-width: 600px;
      margin-inline: auto;

      @media screen and (min-height: 60em) {
        transform: translateY(30%);
      }

      div {
        text-align:center;
      }
    }

    [data-md-color-scheme="slate"] {
      .md-button {
        color: #f8f8f8;
      }
    }
  </style>

  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__image">
          <img src="assets/images/logos/gradle.svg" alt="Gradle Logo" width="360" draggable="false">
        </div>
        <div class="mdx-hero__content">
          <h1>Gradle Cookbook</h1>
          <p>{{ config.site_description }} Contributions are welcome!</p>
        </div>
        <div class="mdx-hero__buttons">
          <a href="{{ 'preface/' | url }}" title="Overview" class="md-button md-button--primary">
            Overview
          </a>
          <a href="{{ 'chapters/' | url }}" title="Chapters" class="md-button">
            Chapters
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
<div class="md-footer-meta md-typeset">
    <!-- Cookie Consent -->
    <!-- FIXME: <div id="analytics-consent-div"></div> -->

    <div class="md-footer-meta__inner md-grid">
      {% include "partials/copyright.html" %}

      <!-- Social links -->
      {% if config.extra.social %}
        {% include "partials/social.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
