site_name: Site Shutdown
site_description: This site has been shut down.
site_url: https://cookbook.gradle.org

theme:
  name: material
  palette:
    - scheme: default
      primary: custom

plugins:
  - search

markdown_extensions:
  - toc:
      permalink: '#'

nav:
  - Home: index.md