site_name: Gradle Cookbook
site_author: Gradle Contributors
site_description: >-
  Gradle Cookbook is an open-source collection of recipes, guides and examples for the Gradle Build Tool.
  This is a complementary resource to the official Gradle User Manual.
copyright: >
  Copyright &copy; 2024 - All contributors to the repository and included components.
  The original content licenses and copyrights from the included repositories are preserved,
  you can find them in the linked repositories.

  Gradle and the Gradlephant logo (the "Gradle Marks") are registered trademarks of Gradle, Inc. and/or its subsidiaries.
  Use of the Gradle Marks the Gradle Cookbook pages is for identification purposes only and does not imply sponsorship or endorsement by Gradle, Inc.
  In the Gradle Cookbook, "Gradle" typically means "Gradle Build Tool" and does not reference Gradle Inc. and/or its subsidiaries.
docs_dir: docs
repo_url: https://github.com/gradle/cookbook
repo_name: Gradle Cookbook
edit_uri: edit/main/docs/
site_url: https://cookbook.gradle.org

# Build
site_dir: _site

nav:
  - Overview:
    - preface.md
    - chapters.md
    - Contributing: CONTRIBUTING.md
  - Gradle on CI:
    - Summary: ci/README.md
    - Jenkins: ci/jenkins.md
    - TeamCity: ci/teamcity.md
    - GitHub Actions: ci/github-actions.md
    - GitLab CI: ci/gitlab-ci.md
    - Travis CI: ci/travis-ci.md
  - Gradle for Kotlin: kotlin/README.md
  - Gradle for Android: android/README.md

# Theme
theme:
  name: material
  custom_dir: overrides/
  highlightjs: true
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    # NOT compatible qith toc.integrate
    # - navigation.indexes
    - navigation.path
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.expand
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    # TODO: use the site's scheme
    # text: Lato Lite
    code: Roboto Mono
  favicon: assets/images/logos/gradle.svg
  logo: assets/images/logos/gradle.svg
  icon:
    repo: fontawesome/brands/github


extra_css:
  - assets/css/gradle.css
extra_javascript:
  - assets/js/google-tag-support.js

extra:
  social:
    - icon: fontawesome/brands/slack
      link: https://gradle.org/slack-invite
      name: Slack
    - icon: fontawesome/brands/github
      link: https://github.com/gradle
      name: GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/gradle
      name: Twitter/X
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/gradle
      name: LinkedIn
    - icon: fontawesome/brands/mastodon
      link: https://mastodon.social/@Gradle
      name: Mastodon
  analytics:
    provider: custom



plugins:
  - search
  - autorefs
# FIXME: Collision on GitHub Actions, to be fixed later
#  - macros
  - mkdocs-pdf
  # OpenGraphs
  - social:
      cards_layout_options:
        background_color: "#010002"
        font_family: Lato
 # - group:
 #     enabled: !ENV [FULL_BUILD, true]
 #     plugins:
 #     - multirepo:
 #         cleanup: false
 #         keep_docs_dir: true
 #         nav_repos:
 #         - name: github-actions
 #           import_url: 'https://github.com/gradle/actions?branch=main&edit_uri=/blob/main/'
 #           imports: [ "README.md", "*" ]

  - git-revision-date-localized
  - git-committers:
      repository: gradle/cookbook
      branch: main

  - with-pdf:
      enabled_if_env: BUILD_PDF
      output_path: pdf/cookbook.pdf
      author: Gradle Contributors
      # FIXME: Needs rendering style to include the trademark notice & Co into the header
      copyright: >
        Copyright &copy; 2024 - All contributors to the repository and included components.
      cover: true
      cover_title: The Gradle Cookbook
      cover_subtitle: Open Source Recipes for Gradle Build Tool
      cover_logo: https://gradle.com/wp-content/themes/fuel/assets/img/branding/gradle-elephant-icon-gradient.svg
      back_cover: true
      toc_title: Table of Contents
      toc_level: 3
      show_anchors: true

# Markdown
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: '#'
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
